<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success">New Recipe</button>
    </div>
</div>
<div class="row" style="border: 2px solid salmon;background-color: rgb(235, 230, 230) ;">
    <div class="col-md-12">
        <a href="#" class="list-group-item clearfix" *ngFor="let recipe of recipes">
          
                <h4 class="list-group-item-heading">{{recipe.name}}</h4>
                <p class="list-group-item-text">{{recipe.description}}         
                <span class="pull-right"> <img [src]="recipe.imagePath" [alt]="recipe.name" style="max-height: 100px; float: right;" ></span>
                </p> 
        </a>   
        <app-recipe-item></app-recipe-item>     
</div>
</div>

