<div class="row">
  <div class="col-xs-12">
    <img src="" class="img-responsive" alt="" />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>Recipe</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle">
        Mange Class
      </button>
      <ul class="dropdown-menu">
        <li><a href="#"> To Shopping List</a></li>
        <li><a href="#"> Edit Recipe</a></li>
        <li><a href="#"> Delete Recipe List</a></li>
      </ul>
    </div>
  </div>
</div>
