<section class="work-experience-section">
  <h2>Work Experience</h2>

  <div class="experience">
    <h3>Front End Developer</h3>
    <p style="font-weight: bold">
      Virtusa consulting services - Bangalore, India
    </p>
    <p>Duration: November 2021 - current</p>
    <ul>
      <li>Developed and maintained web applications using Angular.</li>
      <li>
        Collaborated with cross-functional teams to deliver high-quality
        software.
      </li>
      <li>
        Participated in code reviews and provided technical assistance to team
        members.
      </li>
      <!-- Add more bullet points for your specific responsibilities -->
    </ul>
  </div>
</section>
