.work-experience-section {
    text-align: center;
    background-color: #f9f9f9; /* Light background color */
    padding: 40px;
  }
  
  .experience {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Light shadow effect */
  }
  
  h3 {
    color: #2196F3; /* Blue color */
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 8px;
  }
  