<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div
          class="card shadow-2-strong card-registration"
          style="border-radius: 15px"
        >
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Sign Up</h3>
            <form #postForm="ngForm">
              <div class="row">
                <div class="col-md-6 mb-4">
                  <label class="form-label" for="firstName">First Name</label>
                  <div class="form-outline">
                    <input
                      type="text"
                      placeholder="Enter First Name"
                      id="firstName"
                      class="form-control form-control-lg"
                    />
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <label class="form-label" for="lastName">Last Name</label>
                  <div class="form-outline">
                    <input
                      type="text"
                      id="lastName"
                      placeholder="Enter Last Name"
                      class="form-control form-control-lg"
                    />
                  </div>
                </div>
              </div>

              <!-- <div class="row">
                <div class="col-md-6 mb-4 d-flex align-items-center">
                  <div class="form-outline datepicker w-100">
                    <input
                      type="text"
                      class="form-control form-control-lg"
                      id="birthdayDate"
                    />
                    <label for="birthdayDate" class="form-label"
                      >Birthday</label
                    >
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <h6 class="mb-2 pb-1">Gender:</h6>

                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="inlineRadioOptions"
                      id="femaleGender"
                      value="option1"
                      checked
                    />
                    <label class="form-check-label" for="femaleGender"
                      >Female</label
                    >
                  </div>

                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="inlineRadioOptions"
                      id="maleGender"
                      value="option2"
                    />
                    <label class="form-check-label" for="maleGender"
                      >Male</label
                    >
                  </div>

                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="inlineRadioOptions"
                      id="otherGender"
                      value="option3"
                    />
                    <label class="form-check-label" for="otherGender"
                      >Other</label
                    >
                  </div>
                </div>
              </div> -->

              <div class="row">
                <div class="col-md-6 mb-4 pb-2">
                  <label class="form-label" for="emailAddress">Email</label>
                  <div class="form-outline">
                    <input
                      type="text"
                      class="form-control"
                      id="email"
                      required
                      ngModel
                      name="email"
                    />
                  </div>
                </div>
                <div class="col-md-6 mb-4 pb-2">
                  <label class="form-label" for="phoneNumber">Password</label>
                  <div class="form-outline">
                    <input
                      type="password"
                      class="form-control"
                      id="password"
                      required
                      ngModel
                      name="password"
                    />
                  </div>
                </div>
              </div>

              <!-- <div class="row">
                <div class="col-12">
                  <select class="select form-control-lg">
                    <option value="1" disabled>Choose option</option>
                    <option value="2">Subject 1</option>
                    <option value="3">Subject 2</option>
                    <option value="4">Subject 3</option>
                  </select>
                  <label class="form-label select-label">Choose option</label>
                </div>
              </div> -->
              <!-- <div class="row"> -->
              <button
                class="btn btn-primary btn-lg"
                type="submit"
                value="Submit"
                (click)="signUp(postForm.value)"
              >
                Submit
              </button>

              <button
                style="margin-left: 4px"
                class="btn btn-secondary align-items-right ml-4"
                (click)="onBack()"
              >
                Back to Login
              </button>
              <!-- </div> -->
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
