.contact-section {
    text-align: center;
    background-color: #f9f9f9; /* Light background color */
    padding: 40px;
  }
  
  .contact-info {
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Light shadow effect */
  }
  
  .contact-info p {
    margin: 10px 0;
    font-size: 1.2em;
    color: #333;
  }
  
  .social-icons {
    margin-top: 20px;
  }
  
  a.mat-icon-button {
    margin: 0 10px;
    color: #757575;
  }
  