<section class="projects">
  <h2 style="align-content: center">Personal Projects</h2>
  <a href="https://personal-e7c5d.web.app/" target="_blank"
    >Bharat E-marketing</a
  >
  <div class="row">
    <div class="skill" (click)="emarket()">
      <!-- <img
        src="assets/images/emaiket.avif"
        alt="vsCode"
        width="100"
        height="100"
      /> -->
    </div>
    <!-- <div class="skill">
      <img
        src="assets/images/emaiket.avif"
        alt="vsCode"
        width="100"
        height="100"
      />
    </div> -->
  </div>
</section>
