<h1>{{title}}</h1>
<input type="search" [(ngModel)]="city" style="width: 50%;background-color: rgb(247, 253, 253);" class="ml-5"  />
<button  (click)="getWeather()" style="background-color: rgb(6, 226, 24);">Search</button>
<div style="width:100%;height: 100%;" [class]="weatherData?.main?.temp>65 ?'image2':'image1'">
<div class=" px-1 px-md-4 py-5 mx-auto">
  <div class=" justify-content-center px-3">
        <p class="time-font mb-0 ml-4 mt-auto " style="text-align: center;">{{weatherData?.name}}</p>
        <p style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color: rgb(23, 235, 23);">Note : This is data we are displaying using weather api if the public api fails displaying some static data </p>
          <h1 class="ml-auto mr-4 large-font  " style="background-color: aliceblue;font-style: italic;">{{(weatherData?.main?.temp-32) *(5/9)| number : '1.2-2'}}  F</h1>
  </div>
</div>
</div>
<p class="ml-4 mt-10 mb-4">{{currentDateTime}}</p>
<router-outlet></router-outlet>
